.43_2 { 
	overflow:hidden;
}.e43_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:2160px;
	position:absolute;
}.e43_3 { 
	background-color:rgba(40.57421900331974, 40.57421900331974, 40.57421900331974, 0.8999999761581421);
	width:2092px;
	height:1080px;
	position:absolute;
	left:-86px;
	top:0px;
	background-image:url(images/ergerg__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e43_4 { 
	box-shadow:0px 7px 4px rgba(0, 0, 0, 0.30000001192092896);
	color:rgba(255, 255, 255, 1);
	width:1165px;
	height:137px;
	position:absolute;
	left:67px;
	top:78px;
	font-family:Manrope;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}.e43_5 { 
	width:543px;
	height:110px;
	position:absolute;
	left:67px;
	top:840px;
}.e43_6 { 
	box-shadow:0px 7px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(90.51172077655792, 90.51172077655792, 90.51172077655792, 0.75);
	width:543px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:7px;
}.43_6 { 
	border:2px solid rgba(86.26171723008156, 86.26171723008156, 86.26171723008156, 1);
}.e43_7 { 
	box-shadow:0px 0px 7px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:430px;
	height:68px;
	position:absolute;
	left:57px;
	top:10px;
	font-family:Manrope;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e43_27 { 
	width:543px;
	height:110px;
	position:absolute;
	left:1173px;
	top:303px;
}.e43_28 { 
	box-shadow:0px 7px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(90.51172077655792, 90.51172077655792, 90.51172077655792, 0.75);
	width:543px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:7px;
}.43_28 { 
	border:2px solid rgba(86.26171723008156, 86.26171723008156, 86.26171723008156, 1);
}.e43_29 { 
	box-shadow:0px 0px 7px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:430px;
	height:68px;
	position:absolute;
	left:57px;
	top:10px;
	font-family:Manrope;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e43_30 { 
	width:543px;
	height:110px;
	position:absolute;
	left:1173px;
	top:540px;
}.e43_31 { 
	box-shadow:0px 7px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(90.51172077655792, 90.51172077655792, 90.51172077655792, 0.75);
	width:543px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:7px;
}.43_31 { 
	border:2px solid rgba(86.26171723008156, 86.26171723008156, 86.26171723008156, 1);
}.e43_32 { 
	box-shadow:0px 0px 7px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:430px;
	height:68px;
	position:absolute;
	left:57px;
	top:10px;
	font-family:Manrope;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e43_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 0.5);
	width:814px;
	height:37px;
	position:absolute;
	left:67px;
	top:230px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e43_9 { 
	width:351px;
	height:60px;
	position:absolute;
	left:784px;
	top:950px;
}.e43_10 { 
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.43_11 { 
	overflow:hidden;
}.e43_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_12 { 
	background-color:rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1);
	width:45px;
	height:49.999996185302734px;
	position:absolute;
	left:7.5px;
	top:4.999951362609863px;
}.e43_13 { 
	width:60px;
	height:60px;
	position:absolute;
	left:97px;
	top:0px;
}.43_14 { 
	overflow:hidden;
}.e43_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_15 { 
	background-color:rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1);
	width:49.999996185302734px;
	height:49.999996185302734px;
	position:absolute;
	left:5.000024318695068px;
	top:4.999951362609863px;
}.e43_16 { 
	width:60px;
	height:60px;
	position:absolute;
	left:194px;
	top:0px;
}.43_17 { 
	overflow:hidden;
}.e43_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_18 { 
	background-color:rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1);
	width:49.999996185302734px;
	height:49.999996185302734px;
	position:absolute;
	left:5.000024318695068px;
	top:4.999951362609863px;
}.e43_19 { 
	width:60px;
	height:60px;
	position:absolute;
	left:291px;
	top:0px;
}.43_20 { 
	overflow:hidden;
}.e43_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_21 { 
	background-color:rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1);
	width:50px;
	height:40px;
	position:absolute;
	left:5px;
	top:10px;
}.e43_22 { 
	color:rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1);
	width:204px;
	height:23px;
	position:absolute;
	left:16px;
	top:1046px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e43_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(90.51172077655792, 90.51172077655792, 90.51172077655792, 0.6000000238418579);
	width:776px;
	height:438px;
	position:absolute;
	left:67px;
	top:335px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.43_23 { 
	border:2px solid rgba(86.26171723008156, 86.26171723008156, 86.26171723008156, 1);
}.e43_26 { 
	transform: rotate(-25.852182484914394deg);
	color:rgba(255, 255, 255, 1);
	width:802px;
	height:48px;
	position:absolute;
	left:92px;
	top:707.712890625px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e43_33 { 
	background-color:rgba(37.1874987334013, 37.1874987334013, 37.1874987334013, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:1080px;
}.e43_41 { 
	box-shadow:0px 7px 4px rgba(0, 0, 0, 0.30000001192092896);
	color:rgba(255, 255, 255, 1);
	width:1408px;
	height:137px;
	position:absolute;
	left:252px;
	top:1883px;
	font-family:Manrope;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}